h1 {
	text-align:center;
    color:#0000FF;
	font-family:Roboto;
	font-size:20pt
}
.logo, .menu{
	display: inline-block;
	border:dashed 1px red ;
	margin-right: 10%;
	padding: 40px 0;
}
.menu__item{
	padding: 0 13px;
	border: dashed 1px red;
}